@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.text-colour {
  color: #006600;
}

:hover.bg-colour {
  background-color: #006600;
}

.border-colour {
  border-color: #006600;
}

.font-Montserrat {
  font-family: "Montserrat", sans-serif;
}