@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.title-colour{
  color: #474747
}

.text-colour {
  color: #006551
}

.highlight-colour {
  color: #00c896
}

:hover.bg-colour {
  background-color: #006551;
}

.border-colour {
  border-color: #006551;
}

.font-Montserrat {
  font-family: "Montserrat", sans-serif;
}